<div class="row admin-create-products-page">
  <div class="col-md-6 col-sm-6 m-auto">
    <div class="card-body card">
      <form action='/admin/products' method='POST' enctype="multipart/form-data">
        <div class='mb-3 text-center'>
          <h1 class='h3 font-weight-normal my-2'>Create Product</h1>
        </div>
        {{> admin-product-form}}
      </form>
    </div>
  </div>
</div>