<div class="row admin-login-page ">
  <div class="col-xl-4 col-md-5 col-sm-8 m-auto">
    <div class="card card-body ">
      <h1 class='h1 font-weight-normal mb-3 text-center'>Backstage Login </h1>
      {{> messages}}
      <form class='form-login-admin' action='/login/backstage' method='POST'>
        <div class='form-row mb-3'>
          <label class='form-label' for='email'>Email</label>
          <input class='form-control' id='email' type='text' name='email' class='form-control' placeholder='Email'
            required autofocus />
        </div>
        <div class='form-row mb-3'>
          <label class='form-label' for='password'>Password</label>
          <input class='form-control' id='password' type='password' name='password' class='form-control'
            placeholder='Password' required />
        </div>
        <button class='mb-5 btn btn-primary btn-block-inline' type='submit'>Submit</button>
      </form>
    </div>
  </div>
</div>