<footer>
  <div class='iconBtn'>
    <a href='https://www.facebook.com/gkokig/'><i class='fa-brands fa-facebook-f'></i></a>
    <a href='https://twitter.com/goukaou'><i class='fa-brands fa-twitter'></i></a>
    <a href='https://www.youtube.com/channel/UChplJxI8cZTnGtDz6hgdiCQ'><i class='fa-brands fa-youtube'></i></a>
  </div>
</footer>