<div class="navbar-title m-auto">
  <ul class="nav justify-content-around">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/goukaou">GOUKAOU</a>
    </li>
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        MASK
      </a>
      <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/mask-onsale" id="dropdown-link-color1">MASK-ON SALE</a></li>
        <li><a class="dropdown-item" href="/mask-offsale" id="dropdown-link-color2">MASK-OFF SALE</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/zentai-suit">ZENTAI SUIT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/contact">CONTACY Q&A</a>
    </li>
  </ul>
</div>