<div class="container ">
  <div class="card mx-auto" id="goukaou-card">
    <img
      src="https://static.wixstatic.com/media/648814_ad92422b03704159858fbcdf38843900.jpg/v1/fill/w_980,h_640,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_ad92422b03704159858fbcdf38843900.jpg"
      class="img-fluid" alt="...">
    <div class="card-img-overlay ">
      <div class="card-text-group ">
      <p class="card-text " id="p1">GOUKAOU is a kigurumi mask maker from Taiwan who places a high value on subtle and aesthetic designs.</p>
      <p class="card-text" id="p2">He admires and strives for the artisan spirit. The persuit of perfection means every mask is made with the best effort. Each piece requires a considerable amount of time and is given extensive fabrication and polishing. The surface of each mask are checked by hand and under the illumination of studio lights to ensure a smooth finish.</p>
      <p class="card-text " id="p3">GKO appreciates every opportunity that kigurumi players give him to produce masks. He constantly improves his skills and utilize new technologies and tools. He wishes to add variety and diversity to the kigurumi community.</p>
      </div>
    </div>
  </div>
</div>