<div class='container index-page'>
  <div id='carouselExampleCaptions' class='carousel slide' data-bs-ride='carousel'>
    <div class='carousel-indicators'>
      <button type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' class='active'
        aria-current='true' aria-label='Slide 1'></button>
      <button type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1'
        aria-label='Slide 2'></button>
    </div>
    <div class='carousel-inner'>
      <div class='carousel-item active'>
        <img
          src='https://static.wixstatic.com/media/648814_f968007bf7714d4a88256fe096bae9fd~mv2_d_1920_1280_s_2.jpg/v1/fill/w_980,h_640,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_f968007bf7714d4a88256fe096bae9fd~mv2_d_1920_1280_s_2.jpg'
          class='d-block w-100' alt='...' />
        <div class='carousel-caption d-none d-md-block'>
          <p id='firstImg-font'>Kigurumi Mask</p>
        </div>
      </div>
      <div class='carousel-item'>
        <img
          src='https://static.wixstatic.com/media/648814_7098f57fdf4b47ad8740c4c59d5a4ca4~mv2_d_3840_2560_s_4_2.jpg/v1/fill/w_980,h_640,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/648814_7098f57fdf4b47ad8740c4c59d5a4ca4~mv2_d_3840_2560_s_4_2.jpg'
          class='d-block w-100' alt='...' />
        <div class='carousel-caption d-none d-md-block' id='carousel-item-2'>
          <h2>ZENTAI SUIT</h2>
          <p>GPZ-02, GPZ-02-Big Size, GPZ-02-C,</p>
          <p>GPZ-03-C-1mm,3mm </p>
          <p> GPZ-04-BJD</p>
        </div>
      </div>
    </div>
    <button class='carousel-control-prev' type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev'>
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button class='carousel-control-next' type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next'>
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>
</div>